/* styles.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
	background-color: #e0e0e0;
	background-color: #f0f0f0;
}

.header {
	display: flex;
	align-items: center;
	background-color: rgb(251,238,159);
}
.header h1 {
	font-family: "luminari";
}

.card-container {
  padding: 12px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 8px;
}

.card {
	/* border: 1px solid #ccc; */
	/* background-color: rgb(251,238,229); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  //border-radius: 0 0 10px 10px;
	background-color: white;

	text-align: center;
	display: grid;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 20px;
	align-items: center;
}

.card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
/*
.card:after {
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover:after {
  opacity: 1;
}
*/


.card-image img {
	//padding: 20px;
	max-width: 90%;
	max-height:160px;
	width: auto;
	height: auto;
}

.card-details {
	background-color: rgb(251,238,229);
	background-color: #f0f0f0;
	background-color: white;
	margin-top: auto;
	width:100%;
}

.card-price {
	text-align: left;
	//margin-left: 20px;
	color: rgb(156, 197, 75);
	font-size: 80%;
}


.footer {
	display: flex;
	flex: 1 100%;
  flex-wrap: wrap;

	background-color: #333;
	color: #ddd;
}


address {
  display: block;
}


/* Mobile map */
@media screen and (max-width:600px) {
.google-maps {
    width: 100% !important;
}
.google-maps iframe {
    width: 100% !important;
}
}

/*
// standard responsive stuff, but doesn't work in a flexbox
.google-maps {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
*/
