/* styles.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
	background-color: #e0e0e0;
	background-color: #fff;
	background-color: #f0f0f0;
}



.header {
	display: flex;
	align-items: center;
	//flex: 1 100%;
  flex-wrap: wrap;
	//flex-direction:row;

	background-color: rgb(251,238,159);
}

.header h2 {
	font-family: "Luminari";
}

.title {
	//display: flex;
	//align-items: center;
  //flex-wrap: wrap;
	//width: 100%;
	//max-width: 1000px;
	//min-height: 100px;
	//margin: 0px;
	//margin-left: 0.5em;
	//padding: 0px;
	background-color: rgb(251,238,159);
	padding: 12px;
}
.motto {
	padding: 12px;
}
@media screen and (min-width:1000px) {
.motto {
	margin-left: auto;
}
}


.card-container {
  padding: 12px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 8px;
}

.card {
	/* border: 1px solid #ccc; */
	/* background-color: rgb(251,238,229); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  //border-radius: 0 0 10px 10px;
	background-color: #f0f0f0;
	background-color: white;

	text-align: center;
	display: grid;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 12px;
	align-items: center;
}

.card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.card-image img {
	//padding: 20px;
	max-width: 90%;
	max-height:160px;
	width: auto;
	height: auto;
}

.card-details {
	//background-color: rgb(251,238,229);
	margin-top: auto;
	width:100%;
}

.card-price {
	text-align: left;
	//margin-left: 20px;
	color: rgb(156, 197, 75);
	font-size: 80%;
}


.footer {
	display: flex;
	flex: 1 100%;
  flex-wrap: wrap;

	background-color: #333;
	color: #ddd;
}



ul.contact address {
  display: block;
	margin: 20px;
}

ul.contact {
	list-style-type: none;
}
ul.contact li:before
{
	font-family: 'Font Awesome 6 Free';
	/* font-size: 12;*/
	content: "\e800";
	float: left;
	width: 1.3em;
}
ul.contact li.tel:before{ content:'\f095'; }




/* Mobile map */
@media screen and (max-width:980px) {
	.google-maps {
			width: 100% !important;
	}
	.google-maps iframe {
			width: 100% !important;
	}
	.card-container {
		padding: 4px;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 6px;
	}
}

@media screen and (min-width:980px) {
	.google-maps {
			margin-left: auto;
	}
}

/*
// standard responsive stuff, but doesn't work in a flexbox
.google-maps {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
*/
